/* Increase the width of the content area */
.wy-nav-content {
    max-width: 100%;
    /* Set to your preferred width */
}

.wy-side-nav-search {
    width: 100%;
    overflow: visible;
    /* Fixes the cutoff issue */
}

/* Optionally adjust the width of the side navigation */
/*
.wy-nav-side {
    width: 250px;
     Set a custom width for the side index 
}
*/

/* Adjust the input field of the search bar */
.wy-side-nav-search input {
    width: 90%;
    /* Adjust the width if necessary */
}

/* Apply a dark background with light text */
body {
    background-color: #121212;
    color: #e0e0e0;
}

/* Change text color */
p {
    color: #256103;
}

/* Customize sidebar background and link colors */
.wy-nav-side {
    background-color: #024463;
}

.wy-nav-side a {
    color: #026694;
}

/* Modify navigation bar */
.wy-nav-top {
    background-color: #d46000;
}

/* Customize main content links */
a {
    color: #72049e;
}

a:hover {
    color: #3700b3;
}